body,
h1,
h2,
p,
a {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

@media (min-width: 1024px) {
    #mobile-menu {
        display: none;
    }

    #main-nav {
        display: block;
    }
}

@media (max-width: 1024px) {
    #main-nav {
        display: none;
    }

    #mobile-menu {
        display: block;
    }
}

img,
section {
    max-width: 100%;
}


section {
    margin-bottom: 20px;
}


#hero h1 {
    color: #7030A0;
    font-size: 75px;
    margin-bottom: 20px;
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.sticky {
    position: fixed;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.hamburger {
    display: none;
}

nav ul {
    display: flex;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }
}

@media (min-width: 769px) {
    .hamburger {
        display: none;
    }

    nav ul {
        display: flex;
    }
}

.hero-text {
    font-size: 8rem;
    background: linear-gradient(90deg, purple 0%, #7030A0 100%);

    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button:active,
a:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(4px);
    transition: all 0.1s ease;
}

input:focus,
textarea:focus {
    transform: scale(1.02);
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.frosty {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.frosty:hover {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transform: scale(1.05);
    transition: all 0.2s ease;

}

.rounded-glass-image {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    transition: 0.3s;
}

.rounded-glass-image:hover {
    box-shadow: 0 3px 15px 0 rgba(31, 38, 135, 0.37);
}

.application-images,
.perspective-stretch {
    transition: 0.5s;
    transform-style: preserve-3d;
    border-radius: 20px;
    
}

.perspective-stretch:hover {
    transform: scale(1.1) rotateY(20deg);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}