@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
    --background-colour: #EFFAEF;
}


body {
    background-color: var(--background-colour); 
}

body,
h1,
h2,
p,
a {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

@media (min-width: 1024px) {
    #mobile-menu {
        display: none;
    }

    #main-nav {
        display: block;
    }
}

@media (max-width: 1024px) {
    #main-nav {
        display: none;
    }

    #mobile-menu {
        display: block;
    }
}

img,
section {
    max-width: 100%;
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#header {
    position: fixed;
    transition: transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.75s ease;
}

.sticky {
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.transparent {
    transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: transparent;
}
.hamburger {
    display: none;
}

nav ul {
    display: flex;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }
}

@media (min-width: 769px) {
    .hamburger {
        display: none;
    }

    nav ul {
        display: flex;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#hero { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

h1.hero-text {
    font-size: 4.75em;
    font-weight: 900;
    margin-block: 20px;
    background: linear-gradient(270deg, #D9F0A1, #20BF55, #0B6623);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input:focus,
textarea:focus {
    transform: scale(1.02);
    /* background: rgba(255, 255, 255, 0.2); */
    transition: all 0.3s ease;
    background-color: #ffffff;
    outline: 10px solid var(--background-colour);
}

button:active,
a:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.frosty {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.frosty:hover {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: all 0.2s ease;
    transform: none;
}

.rounded-glass-image {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    transition: 0.3s;
}

.rounded-glass-image:hover {
    box-shadow: 0 3px 15px 0 rgba(31, 38, 135, 0.37);
}

.application-images,
.perspective-stretch {
    transition: 0.5s;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.perspective-stretch:hover {
    transform: scale(1.1) rotateY(20deg);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}